body{
    color: white;
    background-color: black;
    font-family: 'Raleway', sans-serif !important;
}

.navbar-dark{
    text-shadow: 2px 2px 2px #000000 !important;
}

.carousel-inner{
    max-height: 30% !important;
}

.carousel-item{
    max-height: 100vh;
}
hr{
    background-color: #0B5F6B !important;
    width: 55%;
    height: 2px;
}

.bg-cyan{
    background-color: #17A3B8 !important;
    color: white !important;
}

p {
    font-weight: 300;
}

footer h4{
    font-weight: 800;
}

footer a{
    text-decoration: none !important;
    color: #fff !important;
}
footer a:hover{
    text-decoration: none !important;
    color: #fff !important;
}